{
  "openapi": "3.1.0",
  "info": {
    "title": "artfct API",
    "version": "1.0.0",
    "description": "The data-plane API for encrypted ephemeral artifacts and permanent artifact bundles.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://artfct.dev"
    }
  ],
  "tags": [
    { "name": "Artifacts", "description": "Create, update, delete, and upload artifacts." },
    { "name": "Previews", "description": "Resolve public artifact preview URLs." },
    { "name": "Administration", "description": "Organization governance and export operations." },
    { "name": "Retrieval", "description": "Search an organization's accessible artifacts." }
  ],
  "paths": {
    "/internal/worker-events": {
      "post": {
        "tags": ["Administration"],
        "summary": "Receive a Worker event",
        "description": "Internal. Fire-and-forget Worker to Laravel event channel. Authenticated by X-Artfct-Timestamp and X-Artfct-Signature (hex HMAC-SHA256 of timestamp + \".\" + raw body, 300 s tolerance). A replayed event id returns 200 and does nothing; an unknown type is accepted and ignored.",
        "operationId": "receiveWorkerEvent",
        "x-internal": true,
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "type", "org_id", "occurred_at", "data"],
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "type": { "type": "string", "examples": ["artifact.created", "artifact.viewed"] },
                  "org_id": { "type": "string" },
                  "occurred_at": { "type": "string", "format": "date-time" },
                  "data": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Duplicate event id; nothing done." },
          "202": { "description": "Event accepted." },
          "401": { "description": "Bad signature or stale timestamp." },
          "422": { "description": "Malformed envelope." }
        }
      }
    },
    "/v1/artifacts": {
      "get": {
        "tags": ["Administration"],
        "summary": "List artifacts",
        "description": "Reserved admin listing endpoint.",
        "operationId": "listArtifacts",
        "x-status": "unimplemented",
        "security": [
          { "orgToken": [] },
          { "sessionJwt": [] }
        ],
        "responses": {
          "501": { "$ref": "#/components/responses/NotImplemented" }
        }
      },
      "post": {
        "tags": ["Artifacts"],
        "summary": "Create an artifact",
        "description": "Creates an anonymous encrypted artifact or starts an authenticated permanent bundle upload. Anonymous access is allowed only when mode is ephemeral.",
        "operationId": "createArtifact",
        "security": [
          {},
          { "orgToken": [] },
          { "sessionJwt": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateArtifactRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Artifact created or permanent upload initialized.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateArtifactResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "413": { "$ref": "#/components/responses/PayloadTooLarge" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "options": {
        "tags": ["Artifacts"],
        "summary": "Preflight artifact collection requests",
        "operationId": "optionsArtifacts",
        "security": [],
        "responses": {
          "204": { "$ref": "#/components/responses/Preflight" }
        }
      }
    },
    "/v1/artifacts/{id}": {
      "parameters": [
        { "$ref": "#/components/parameters/ArtifactId" }
      ],
      "patch": {
        "tags": ["Artifacts"],
        "summary": "Update an artifact expiration",
        "operationId": "updateArtifact",
        "security": [
          { "orgToken": [] },
          { "sessionJwt": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateArtifactRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Artifact expiration updated.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UpdateArtifactResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "delete": {
        "tags": ["Artifacts"],
        "summary": "Delete an artifact",
        "operationId": "deleteArtifact",
        "security": [
          { "orgToken": [] },
          { "sessionJwt": [] }
        ],
        "responses": {
          "204": {
            "description": "Artifact deleted. The response has no body."
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "description": "The artifact is under legal hold and was not deleted. The error details carry reason legal_hold." },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "options": {
        "tags": ["Artifacts"],
        "summary": "Preflight artifact item requests",
        "operationId": "optionsArtifact",
        "security": [],
        "responses": {
          "204": { "$ref": "#/components/responses/Preflight" }
        }
      }
    },
    "/p/{id}": {
      "parameters": [
        { "$ref": "#/components/parameters/ArtifactId" }
      ],
      "get": {
        "tags": ["Previews"],
        "summary": "Render an artifact preview",
        "operationId": "renderArtifact",
        "security": [],
        "responses": {
          "200": {
            "description": "HTML preview shell or permanent artifact entrypoint.",
            "headers": {
              "Content-Security-Policy": {
                "schema": { "type": "string" }
              },
              "X-Content-Type-Options": {
                "schema": { "type": "string", "const": "nosniff" }
              }
            },
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              }
            }
          },
          "404": {
            "description": "Artifact is missing, expired, incomplete, or inaccessible.",
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      },
      "options": {
        "tags": ["Previews"],
        "summary": "Preflight artifact preview requests",
        "operationId": "optionsArtifactPreview",
        "security": [],
        "responses": {
          "204": { "$ref": "#/components/responses/Preflight" }
        }
      }
    },
    "/p/{id}/{path}": {
      "parameters": [
        { "$ref": "#/components/parameters/ArtifactId" },
        { "$ref": "#/components/parameters/RelativePath" }
      ],
      "get": {
        "tags": ["Previews"],
        "summary": "Serve a file from a permanent artifact bundle",
        "operationId": "renderArtifactFile",
        "security": [],
        "responses": {
          "200": {
            "description": "Bundle file bytes.",
            "headers": {
              "X-Content-Type-Options": {
                "schema": { "type": "string", "const": "nosniff" }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/v1/artifacts/{id}/files/{sha256}": {
      "parameters": [
        { "$ref": "#/components/parameters/ArtifactId" },
        { "$ref": "#/components/parameters/Sha256" }
      ],
      "put": {
        "tags": ["Artifacts"],
        "summary": "Upload a missing permanent artifact file",
        "operationId": "uploadArtifactFile",
        "security": [
          { "orgToken": [] },
          { "sessionJwt": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": { "type": "string", "format": "binary" }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Permanent artifact file uploaded. The response has no body."
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "413": { "$ref": "#/components/responses/PayloadTooLarge" }
        }
      },
      "options": {
        "tags": ["Artifacts"],
        "summary": "Preflight artifact file upload requests",
        "operationId": "optionsArtifactFile",
        "security": [],
        "responses": {
          "204": { "$ref": "#/components/responses/Preflight" }
        }
      }
    },
    "/v1/blobs/{sha256}": {
      "parameters": [
        { "$ref": "#/components/parameters/Sha256" }
      ],
      "get": {
        "tags": ["Administration"],
        "summary": "Download one exported raw blob",
        "operationId": "downloadExportBlob",
        "security": [ { "orgToken": [] } ],
        "responses": {
          "200": {
            "description": "Raw blob bytes",
            "content": { "application/octet-stream": { "schema": { "type": "string", "format": "binary" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/orgs/{org}/artifacts": {
      "parameters": [
        { "$ref": "#/components/parameters/OrganizationId" }
      ],
      "get": {
        "tags": ["Administration"],
        "summary": "List an organization's artifacts",
        "operationId": "listOrganizationArtifacts",
        "security": [
          { "orgToken": [] },
          { "sessionJwt": [] }
        ],
        "parameters": [
          { "name": "repo_url", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "agent", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "created_after", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } },
          { "name": "created_before", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } },
          { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 200 } }
        ],
        "responses": {
          "200": {
            "description": "A page of artifacts, cursor-paginated on (created_at, id).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["artifacts", "next_cursor"],
                  "properties": {
                    "artifacts": { "type": "array", "items": { "type": "object" } },
                    "next_cursor": { "type": ["string", "null"] }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      },
      "options": {
        "tags": ["Administration"],
        "summary": "Preflight organization artifact list requests",
        "operationId": "optionsOrganizationArtifacts",
        "security": [],
        "responses": {
          "204": { "$ref": "#/components/responses/Preflight" }
        }
      }
    },
    "/v1/orgs/{org}/artifacts/{id}": {
      "parameters": [
        { "$ref": "#/components/parameters/OrganizationId" },
        { "$ref": "#/components/parameters/ArtifactId" }
      ],
      "patch": {
        "tags": ["Administration"],
        "summary": "Revoke an organization artifact",
        "operationId": "revokeOrganizationArtifact",
        "security": [
          { "orgToken": [] },
          { "sessionJwt": [] }
        ],
        "responses": {
          "200": {
            "description": "The artifact, soft-deleted: revoked_at set, row and blob retained.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id", "org_id", "revoked_at"],
                  "properties": {
                    "id": { "type": "string" },
                    "org_id": { "type": "string" },
                    "revoked_at": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      },
      "options": {
        "tags": ["Administration"],
        "summary": "Preflight organization artifact item requests",
        "operationId": "optionsOrganizationArtifact",
        "security": [],
        "responses": {
          "204": { "$ref": "#/components/responses/Preflight" }
        }
      }
    },
    "/v1/orgs/{org}/artifacts/{id}/content": {
      "parameters": [
        { "$ref": "#/components/parameters/OrganizationId" },
        { "$ref": "#/components/parameters/ArtifactId" }
      ],
      "get": {
        "tags": ["Administration"],
        "summary": "Read an artifact's entrypoint and provenance",
        "description": "Org-credentialed read used by server-side indexing. Revoked artifacts and artifacts of other organizations return 404.",
        "operationId": "readOrganizationArtifactContent",
        "security": [
          { "orgToken": [] }
        ],
        "responses": {
          "200": {
            "description": "The entrypoint text and provenance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["id", "content_type", "provenance", "content"],
                  "properties": {
                    "id": { "type": "string" },
                    "content_type": { "type": "string" },
                    "provenance": {
                      "type": "object",
                      "properties": {
                        "agent": { "type": ["string", "null"] },
                        "repo_url": { "type": ["string", "null"] },
                        "commit_sha": { "type": ["string", "null"] }
                      }
                    },
                    "content": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/internal/jwks": {
      "post": {
        "tags": ["Administration"],
        "summary": "Publish the org-token public keys",
        "description": "Internal. Laravel publishes the JWKS the Worker verifies org tokens against. Authenticated with its own shared secret, not an org token. The body must contain at least one complete key (kid, n, e).",
        "operationId": "writeJwks",
        "x-internal": true,
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["keys"],
                "properties": {
                  "keys": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": ["kid", "n", "e"],
                      "properties": {
                        "kty": { "type": "string" },
                        "use": { "type": "string" },
                        "alg": { "type": "string" },
                        "kid": { "type": "string" },
                        "n": { "type": "string" },
                        "e": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Keys stored." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/v1/internal/org-limits": {
      "post": {
        "tags": ["Administration"],
        "summary": "Push an organization's limits",
        "description": "Internal. Laravel pushes an org's quota limits and read-only (past due) state. Authenticated with the limits shared secret, not an org token. Rows are upserted; with no row the Worker uses default limits.",
        "operationId": "writeOrganizationLimits",
        "x-internal": true,
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["org", "storage_bytes", "artifacts_per_month", "bundle_ceiling_bytes", "read_only"],
                "properties": {
                  "org": { "type": "string" },
                  "storage_bytes": { "type": "integer", "minimum": 0 },
                  "artifacts_per_month": { "type": "integer", "minimum": 0 },
                  "bundle_ceiling_bytes": { "type": "integer", "minimum": 0 },
                  "read_only": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Limits stored." },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" }
        }
      }
    },
    "/v1/orgs/{org}/usage": {
      "parameters": [
        { "$ref": "#/components/parameters/OrganizationId" }
      ],
      "get": {
        "tags": ["Administration"],
        "summary": "Read an organization's usage",
        "description": "The figures the create gate enforces: storage counts each distinct blob once; artifacts_this_period counts artifacts created in the current UTC month.",
        "operationId": "readOrganizationUsage",
        "security": [
          { "orgToken": [] }
        ],
        "responses": {
          "200": {
            "description": "Current usage.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["storage_bytes", "artifacts_this_period"],
                  "properties": {
                    "storage_bytes": { "type": "integer", "minimum": 0 },
                    "artifacts_this_period": { "type": "integer", "minimum": 0 }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/internal/orgs/{org}/governance/artifacts": {
      "parameters": [
        { "$ref": "#/components/parameters/OrganizationId" }
      ],
      "get": {
        "tags": ["Administration"],
        "summary": "List artifacts for governance jobs",
        "description": "Internal. Cursor-paginated (limit max 500), includes revoked artifacts. older_than filters by created_at. Authenticated with the governance shared secret, not an org token.",
        "operationId": "listGovernanceArtifacts",
        "x-internal": true,
        "security": [],
        "parameters": [
          { "name": "older_than", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" } },
          { "name": "cursor", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 500 } }
        ],
        "responses": {
          "200": {
            "description": "A page of artifacts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["artifacts", "next_cursor"],
                  "properties": {
                    "artifacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["id", "created_at", "legal_hold"],
                        "properties": {
                          "id": { "type": "string" },
                          "created_at": { "type": "string" },
                          "legal_hold": { "type": "boolean" }
                        }
                      }
                    },
                    "next_cursor": { "type": ["string", "null"] }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/internal/orgs/{org}/governance/artifacts/{id}": {
      "parameters": [
        { "$ref": "#/components/parameters/OrganizationId" },
        { "$ref": "#/components/parameters/ArtifactId" }
      ],
      "delete": {
        "tags": ["Administration"],
        "summary": "Hard-delete an artifact",
        "description": "Internal. Irreversibly deletes the artifact, decrements blob references and removes unreferenced blobs from storage. Refused with 409 while the artifact is under legal hold. Writes an artifact.hard_deleted audit event.",
        "operationId": "hardDeleteGovernanceArtifact",
        "x-internal": true,
        "security": [],
        "responses": {
          "204": { "description": "Artifact deleted." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "description": "The artifact is under legal hold." }
        }
      }
    },
    "/v1/internal/orgs/{org}/governance/artifacts/{id}/legal-hold": {
      "parameters": [
        { "$ref": "#/components/parameters/OrganizationId" },
        { "$ref": "#/components/parameters/ArtifactId" }
      ],
      "put": {
        "tags": ["Administration"],
        "summary": "Place a legal hold",
        "description": "Internal. Audited as legal_hold.placed.",
        "operationId": "placeGovernanceLegalHold",
        "x-internal": true,
        "security": [],
        "responses": {
          "204": { "description": "Hold placed." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "tags": ["Administration"],
        "summary": "Release a legal hold",
        "description": "Internal. Audited as legal_hold.released.",
        "operationId": "releaseGovernanceLegalHold",
        "x-internal": true,
        "security": [],
        "responses": {
          "204": { "description": "Hold released." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/internal/orgs/{org}/governance/sweep-orphans": {
      "parameters": [
        { "$ref": "#/components/parameters/OrganizationId" }
      ],
      "post": {
        "tags": ["Administration"],
        "summary": "Sweep zero-reference blobs",
        "description": "Internal. Removes blobs no artifact references, left behind by a failed storage delete.",
        "operationId": "sweepGovernanceOrphans",
        "x-internal": true,
        "security": [],
        "responses": {
          "200": {
            "description": "Number of blobs removed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["removed"],
                  "properties": { "removed": { "type": "integer", "minimum": 0 } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/v1/orgs/{org}/export": {
      "parameters": [
        { "$ref": "#/components/parameters/OrganizationId" }
      ],
      "get": {
        "tags": ["Administration"],
        "summary": "Export an organization's artifacts",
        "operationId": "exportOrganizationArtifacts",
        "security": [
          { "orgToken": [] },
          { "sessionJwt": [] }
        ],
        "responses": {
          "200": {
            "description": "Organization artifact metadata and bounded download URLs for raw blobs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["artifacts", "blobs"],
                  "properties": {
                    "artifacts": { "type": "array", "items": { "type": "object" } },
                    "blobs": { "type": "object", "additionalProperties": { "type": "string" } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/UnprocessableEntity" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "options": {
        "tags": ["Administration"],
        "summary": "Preflight organization export requests",
        "operationId": "optionsOrganizationExport",
        "security": [],
        "responses": {
          "204": { "$ref": "#/components/responses/Preflight" }
        }
      }
    },
    "/v1/search": {
      "x-status": "unimplemented",
      "post": {
        "tags": ["Retrieval"],
        "summary": "Search accessible artifacts",
        "operationId": "searchArtifacts",
        "x-status": "unimplemented",
        "security": [
          { "orgToken": [] },
          { "sessionJwt": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SearchRequest" }
            }
          }
        },
        "responses": {
          "501": { "$ref": "#/components/responses/NotImplemented" }
        }
      },
      "options": {
        "tags": ["Retrieval"],
        "summary": "Preflight artifact search requests",
        "operationId": "optionsSearchArtifacts",
        "security": [],
        "responses": {
          "204": { "$ref": "#/components/responses/Preflight" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "orgToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "organization API token",
        "description": "Organization-scoped API token."
      },
      "sessionJwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Short-TTL session JWT minted by the Laravel control plane."
      }
    },
    "parameters": {
      "ArtifactId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Artifact identifier.",
        "schema": {
          "type": "string",
          "pattern": "^(?:[A-Za-z0-9]{10}|[a-f0-9]{32})$"
        }
      },
      "OrganizationId": {
        "name": "org",
        "in": "path",
        "required": true,
        "description": "Organization identifier or slug.",
        "schema": {
          "type": "string",
          "minLength": 1
        }
      },
      "Sha256": {
        "name": "sha256",
        "in": "path",
        "required": true,
        "description": "Lowercase hexadecimal SHA-256 digest declared in the manifest.",
        "schema": {
          "type": "string",
          "pattern": "^[a-f0-9]{64}$"
        }
      },
      "RelativePath": {
        "name": "path",
        "in": "path",
        "required": true,
        "description": "Relative path within the permanent artifact bundle.",
        "schema": { "$ref": "#/components/schemas/RelativeArtifactPath" }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request could not be parsed.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication is required or invalid.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" }
          }
        }
      },
      "Forbidden": {
        "description": "The authenticated principal cannot access this organization or artifact.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" }
          }
        }
      },
      "NotFound": {
        "description": "The artifact does not exist or is not accessible.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "The request exceeds a configured size limit.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "The request is syntactically valid but violates the artifact contract.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" }
          }
        }
      },
      "InternalError": {
        "description": "Unexpected data-plane error.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" }
          }
        }
      },
      "NotImplemented": {
        "description": "This reserved operation is not implemented.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" },
            "example": {
              "error": {
                "code": "not_implemented",
                "message": "This operation is not implemented.",
                "details": {}
              }
            }
          }
        }
      },
      "Preflight": {
        "description": "CORS preflight accepted. The response has no body.",
        "headers": {
          "Access-Control-Allow-Origin": {
            "schema": { "type": "string" }
          },
          "Access-Control-Allow-Methods": {
            "schema": { "type": "string" }
          },
          "Access-Control-Allow-Headers": {
            "schema": { "type": "string" }
          }
        }
      }
    },
    "schemas": {
      "CreateArtifactRequest": {
        "oneOf": [
          { "$ref": "#/components/schemas/EphemeralArtifactRequest" },
          { "$ref": "#/components/schemas/PermanentArtifactRequest" }
        ],
        "discriminator": {
          "propertyName": "mode",
          "mapping": {
            "ephemeral": "#/components/schemas/EphemeralArtifactRequest",
            "permanent": "#/components/schemas/PermanentArtifactRequest"
          }
        }
      },
      "EphemeralArtifactRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode",
          "body_ciphertext_b64",
          "body_iv_b64",
          "tier",
          "title",
          "description",
          "thumbnail",
          "preview_blurred",
          "provenance"
        ],
        "properties": {
          "mode": { "type": "string", "const": "ephemeral" },
          "body_ciphertext_b64": {
            "type": "string",
            "minLength": 1,
            "description": "AES-GCM ciphertext encoded as unpadded base64url."
          },
          "body_iv_b64": {
            "type": "string",
            "minLength": 1,
            "description": "A 12-byte AES-GCM nonce encoded as unpadded base64url."
          },
          "tier": { "$ref": "#/components/schemas/ArtifactTier" },
          "ttl_minutes": {
            "type": "integer",
            "minimum": 1,
            "maximum": 525600
          },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "thumbnail": { "type": "string", "format": "uri" },
          "preview_blurred": { "type": "boolean" },
          "provenance": { "$ref": "#/components/schemas/Provenance" }
        }
      },
      "PermanentArtifactRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "mode",
          "tier",
          "title",
          "description",
          "thumbnail",
          "preview_blurred",
          "manifest",
          "provenance"
        ],
        "properties": {
          "mode": { "type": "string", "const": "permanent" },
          "tier": { "$ref": "#/components/schemas/PermanentArtifactTier" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "thumbnail": { "type": "string", "format": "uri" },
          "preview_blurred": { "type": "boolean" },
          "manifest": { "$ref": "#/components/schemas/Manifest" },
          "provenance": { "$ref": "#/components/schemas/Provenance" }
        }
      },
      "ArtifactTier": {
        "type": "string",
        "enum": ["public", "secure", "ephemeral"]
      },
      "PermanentArtifactTier": {
        "type": "string",
        "enum": ["public", "secure"]
      },
      "Provenance": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "agent",
          "agent_raw",
          "agent_version",
          "model",
          "session_id",
          "tool",
          "repo_url",
          "branch",
          "commit_sha",
          "dirty",
          "source_path",
          "client",
          "client_version",
          "sources"
        ],
        "properties": {
          "agent": { "type": ["string", "null"] },
          "agent_raw": { "type": ["string", "null"] },
          "agent_version": { "type": ["string", "null"] },
          "model": { "type": ["string", "null"] },
          "session_id": { "type": ["string", "null"] },
          "tool": { "type": ["string", "null"] },
          "repo_url": { "type": ["string", "null"] },
          "branch": { "type": ["string", "null"] },
          "commit_sha": { "type": ["string", "null"] },
          "dirty": { "type": ["boolean", "null"] },
          "source_path": { "type": ["string", "null"] },
          "client": { "type": "string", "minLength": 1 },
          "client_version": { "type": "string", "minLength": 1 },
          "sources": { "$ref": "#/components/schemas/ProvenanceSources" }
        }
      },
      "ProvenanceSources": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "agent",
          "agent_raw",
          "agent_version",
          "model",
          "session_id",
          "tool",
          "repo_url",
          "branch",
          "commit_sha",
          "dirty",
          "source_path"
        ],
        "properties": {
          "agent": { "$ref": "#/components/schemas/ProvenanceSource" },
          "agent_raw": { "$ref": "#/components/schemas/ProvenanceSource" },
          "agent_version": { "$ref": "#/components/schemas/ProvenanceSource" },
          "model": { "$ref": "#/components/schemas/ProvenanceSource" },
          "session_id": { "$ref": "#/components/schemas/ProvenanceSource" },
          "tool": { "$ref": "#/components/schemas/ProvenanceSource" },
          "repo_url": { "$ref": "#/components/schemas/ProvenanceSource" },
          "branch": { "$ref": "#/components/schemas/ProvenanceSource" },
          "commit_sha": { "$ref": "#/components/schemas/ProvenanceSource" },
          "dirty": { "$ref": "#/components/schemas/ProvenanceSource" },
          "source_path": { "$ref": "#/components/schemas/ProvenanceSource" }
        }
      },
      "ProvenanceSource": {
        "type": "string",
        "enum": [
          "config",
          "client_info",
          "process",
          "env",
          "self_reported",
          "absent"
        ]
      },
      "Manifest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["entrypoint", "files", "external_origins"],
        "properties": {
          "entrypoint": {
            "$ref": "#/components/schemas/RelativeArtifactPath",
            "description": "Relative path that must exactly match one files[].path value."
          },
          "files": {
            "type": "array",
            "minItems": 1,
            "maxItems": 500,
            "items": { "$ref": "#/components/schemas/ManifestFile" }
          },
          "external_origins": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "format": "uri",
              "pattern": "^https://"
            }
          },
          "unsafe_eval": {
            "type": "boolean",
            "default": false,
            "description": "Grants 'unsafe-eval' in the isolated-origin CSP script-src. Defaults to false; must be explicitly declared."
          }
        }
      },
      "ManifestFile": {
        "type": "object",
        "additionalProperties": false,
        "required": ["path", "content_type", "size_bytes", "sha256"],
        "properties": {
          "path": { "$ref": "#/components/schemas/RelativeArtifactPath" },
          "content_type": { "type": "string", "minLength": 1 },
          "size_bytes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 26214400
          },
          "sha256": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          }
        }
      },
      "RelativeArtifactPath": {
        "type": "string",
        "minLength": 1,
        "maxLength": 255,
        "pattern": "^(?!/)(?![A-Za-z]:[\\\\/])(?!.*(?:^|/)\\.\\.(?:/|$)).+$",
        "description": "A relative path with no leading slash, drive prefix, or parent traversal segment."
      },
      "CreateArtifactResponse": {
        "oneOf": [
          { "$ref": "#/components/schemas/EphemeralArtifactResponse" },
          { "$ref": "#/components/schemas/PermanentArtifactResponse" }
        ]
      },
      "EphemeralArtifactResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "url",
          "tier",
          "expires_at",
          "title",
          "description",
          "thumbnail",
          "preview_blurred"
        ],
        "properties": {
          "id": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "tier": { "$ref": "#/components/schemas/ArtifactTier" },
          "expires_at": { "type": "string", "format": "date-time" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "thumbnail": { "type": "string", "format": "uri" },
          "preview_blurred": { "type": "boolean" }
        }
      },
      "PermanentArtifactResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "url", "tier", "missing_files"],
        "properties": {
          "id": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "tier": { "$ref": "#/components/schemas/PermanentArtifactTier" },
          "missing_files": {
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "pattern": "^[a-f0-9]{64}$"
            }
          }
        }
      },
      "UpdateArtifactRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["ttl_minutes"],
        "properties": {
          "ttl_minutes": {
            "type": "integer",
            "minimum": 1,
            "maximum": 525600
          }
        }
      },
      "UpdateArtifactResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["id", "expires_at"],
        "properties": {
          "id": { "type": "string" },
          "expires_at": { "type": "string", "format": "date-time" }
        }
      },
      "SearchRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["query"],
        "properties": {
          "query": { "type": "string", "minLength": 1 },
          "repo": { "type": "string" },
          "agent": { "type": "string" },
          "since": { "type": "string", "format": "date" },
          "limit": { "type": "integer", "minimum": 1, "maximum": 100, "default": 5 }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "additionalProperties": false,
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "additionalProperties": false,
            "required": ["code", "message", "details"],
            "properties": {
              "code": { "$ref": "#/components/schemas/ErrorCode" },
              "message": { "type": "string", "minLength": 1 },
              "details": { "type": "object" }
            }
          }
        }
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "invalid_json",
          "validation_failed",
          "invalid_artifact_id",
          "artifact_not_found",
          "body_too_large",
          "bundle_too_large",
          "entrypoint_missing",
          "invalid_path",
          "duplicate_path",
          "hash_mismatch",
          "file_count_exceeded",
          "unauthorized",
          "forbidden",
          "not_implemented",
          "internal_error",
          "authentication_required",
          "rate_limited",
          "quota_exceeded"
        ]
      }
    }
  }
}
